<h3>Update <%= @author.name %></h3>

<form action="/authors/<%= @author.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="author_name">Rename author</label>
    <input id="edit_author_name" name="author_name" class="form-control" type="text" value="<%= @author.name %>" required>
  </div>
  <button type="submit">Update</button>
</form>

<form action="/authors/<%= @author.id %>" method="post">
  <input name="_method" type="hidden" value="delete" required>
  <button type="submit">Delete author</button>
</form>

<p><a href="/authors">Return to author list</a></p>
