<h3>Add a new book</h3>

<form action="/books" method="post">
  <div class="form-group">
    <label for="title">Book name</label>
    <input id="new_book_title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add book</button>
</form>

<p><a href="/books">Return to book list</a></p>
