<h3>Add a new patron</h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="patron_name">Name</label>
    <input id="new_patron_name" name="patron_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add patron</button>
</form>

<p><a href="/books">Return to patron list</a></p>
