<h1>Add a new patron</h1>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="new_patron_name" name="name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add patron</button>
</form>

<p><a href="/books">Return to patron list</a></p>
