<h1>Welcome to Finery Library</h1>
<p>This site is currently under development.</p>
<p><a href="/books">Browse books</a></p>
<p><a href="/authors">Browse authors</a></p>
<p><a href="/welcome/new">Create a new user</a></p>
